# See https://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store

# compiled output
/dist
/tmp

# cordova
cordova/node_modules

# iOS
cordova/platforms/ios/build/
cordova/platforms/ios/www/
cordova/platforms/ios/cordova/console.log
*.xcuserdatad

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
